CI_ENVIRONMENT = production
app.baseURL = 'http://localhost:8001/'

database.default.hostname = localhost
database.default.database = foodmart
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

MODE = single
CUSTOMER_HOST = 192.168.77.11
CUSTOMER_PORT = 8001
PRODUCT_HOST = 192.168.77.12
PRODUCT_PORT = 8002
STORE_HOST = 192.168.77.13
STORE_PORT = 8003
SALES_HOST = 192.168.77.14
SALES_PORT = 8004
INVENTORY_HOST = 192.168.77.15
INVENTORY_PORT = 8005
PROMOTION_HOST = 192.168.77.16
PROMOTION_PORT = 8006
ANALYTICS_HOST = 192.168.77.17
ANALYTICS_PORT = 8007
